body {
	padding-top: 1em;
	height: 100%;
	overflow-y: scroll;
}

.bold {
	font-weight: bolder;	
}

#test {
	background-color: red;
}

#topbar {
	margin-top: -1em;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
	background-color: black;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
	border: 2px solid black;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid black;
	box-shadow: 0 1px 0 0 black;
}

label {
	color: white;
}

ul.side-nav.fixed {
	overflow: auto;
}

ul.side-nav.fixed::-webkit-scrollbar {
	width: 0 !important;
}

.side-nav a {
	text-align: center;
	color: white;
	font-size: 20px;
}

.side-nav.fixed a {
	text-align: center;
	color: white;
}


#adlogo {
	width: 50%;
	margin-top: 1em;
	margin-left: 4.5em;
}

#General {
	margin-top: 5em;
	background-color: #1b5e20;	
}

#Appearance {
	margin-top: 1em;
	background-color: #01579b;
}

#Dimensions {
	margin-top: 1em;
	background-color: #f50057;
}

#Density {
	margin-top: 1em;
	background-color: #e65100;
}
#Features {
	margin-top: 1em;
	background-color: #b71c1c;
}
#Sales {
	margin-top: 1em;
	background-color: #004d40;
}


#activity {
	padding-top: 1em;
	text-align: right;
	vertical-align: bottom;
}

#weight_unit {
	padding-top: 1em;
	text-align: right;
}

#volume_unit {
	padding-top: 1em;
	text-align: right;
}

#sealable {
	padding-top: 1em;
	text-align: left;
}

#freezable {
	padding-top: 1em;
	text-align: left;
}

#microable {
	padding-top: 1em;
	text-align: left;
}

#foodable {
	padding-top: 1em;
	text-align: left;
}

#recyclable {
	padding-top: 1em;
	text-align: left;
}

#biodegradable {
	padding-top: 1em;
	text-align: left;
}

#rightImages li {
	padding-top: 1em;
	text-align: center;
}

#rightImages li img {
	width: 55%;
	border-radius: 80px;
	padding: 10px;

}

#greenImg {
	background: #66bc46;
}
#blueImg {
	background: #4ab9eb;
}
#orangeImg {
	background: #f49d31;
}
#pinkImg {
	background: #df31f4;
}
#redImg {
	background: #f43131;
}